.xans-member-login h3 {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}

.xans-member-login .login {
	margin: 0 0 3px 0;
	padding: 30px 0;
	color: #2e2e2e;
	clear: both;
	margin: 0 auto;
	box-sizing: border-box;
	margin: 100px 0 150px;
}

.xans-member-login .login fieldset {
	position: relative;
	width: 350px;
	margin: 0 auto;
}

.xans-member-login .login fieldset .id, .xans-member-login .login fieldset .password
	{
	overflow: hidden;
	display: block;
	width: 350px;
	margin: 0 0 2px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	color: #8F8F91;
	box-sizing: border-box;
}

.xans-member-login .login fieldset .id span, .xans-member-login .login fieldset .password span
	{
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 8px;
	color: #c9c9c9;
}

.xans-member-login .login fieldset input[type=text], .xans-member-login .login fieldset input[type=password]
	{
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
	border: 0 none;
	color: #8F8F91;
}

.xans-member-login .login fieldset .security {
	padding: 0;
	margin: 8px 0;
	color: #757575;
	font-size: 11px;
	line-height: 20px;
}

.xans-member-login .login fieldset .security img {
	vertical-align: middle;
}

.xans-member-login .login fieldset>a {
	display: block;
	margin-top: 10px;
}

.xans-member-login .login fieldset ul {
	overflow: hidden;
	margin: 0;
	border: 0;
}

.xans-member-login .login fieldset li a {
	color: #2e2e2e;
}

.xans-member-login .login fieldset .link {
	position: relative;
	margin: 25px 5px 0;
	padding: 25px 0 0 10px;
	color: #757575;
	border-top: 1px solid #e9e9e9;
	background:
		url("http://img.echosting.cafe24.com/skin/base/common/ico_arrow.png")
		no-repeat 0 29px;
}

.xans-member-login .login fieldset .link a {
	position: absolute;
	top: 25px;
	right: 0;
}

.xans-member-login .login fieldset .snsArea {
	position: absolute;
	margin-top: 180px;
}

.xans-member-login .login fieldset .snsArea li {
	float: left;
	margin-bottom: 1px;
}

.xans-member-login .login fieldset #noMemberWrap {
	border-top: 0;
	margin-top: 0;
}

.xans-member-login .loginbox ul.finder {
	float: right;
	padding: 8px 0px 0px;
	width: 140px;
}

.xans-member-login .loginbox ul.finder li {
	padding: 0;
}

.xans-member-login .loginbox ul.finder li a {
	font-size: 11px;
	color: #757575;
	float: left;
	line-height: 20px;
}

.xans-member-login .loginbox ul.finder li a:hover {
	color: #333;
}

.xans-member-login .loginjoinbox .nmember {
	margin-top: 10px;
	text-align: right;
}

.xans-member-login .loginjoinbox .nmember a {
	color: #757575;
	font-size: 11px;
}

.xans-member-login .loginjoinbox .nmember a:hover {
	color: #000;
}

.xans-member-login .loginjoinbox h3 {
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	display: none;
}

.xans-member-login .loginjoinbox {
	width: 350px;
	margin: 30px auto 0px;
}

.xans-member-login .loginjoinbox .link {
	font-size: 12px;
	line-height: 16px;
}

.xans-member-login .login fieldset .snsArea {
	float: left;
}

.xans-member-login .login fieldset .snsArea a {
	color: #fff;
	background: #e5e5e5;
	letter-spacing: -0.03em;
	font-size: 11px;
	display: block;
	width: 86.5px;
	height: 40px;
	margin-right: 1px;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
}

.xans-member-login a.select {
	border: 1px solid #cccccc;
	box-sizing: border-box;
	font-size: 15px;
	width: 350px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	background: #333;
	color: #fff;
	letter-spacing: 0.01em;
	font-weight: 600;
}

.xans-member-login a.select:hover {
	font-size: 15px;
	background: #000;
	color: #fff;
	letter-spacing: 0.01em
}

.xans-member-login .link a.select {
	background: #fafafa;
	color: #000;
	border: 1px solid #000;
	box-sizing: border-box;
	font-weight: 600;
}

.xans-member-login .link a.select:hover {
	background: #fff;
}

.xans-myshop-orderhistorynologin {
	position: relative;
	border: 1px solid #d7d5d5;
	padding: 50px 0;
	color: #2e2e2e;
	margin-top: 30px;
}

.xans-myshop-orderhistorynologin h3 {
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

.xans-myshop-orderhistorynologin p {
	width: 380px;
	margin: 0 auto 30px;
	color: #333333;
	text-align: center;
}

.xans-myshop-orderhistorynologin .ec-base-desc {
	width: 360px;
	margin: 0 auto;
}

.xans-myshop-orderhistorynologin input[type=text],
	.xans-myshop-orderhistorynologin input[type=password] {
	width: 170px;
	padding: 3px 0px 0px 5px;
	border: 1px solid #d5d5d5;
	height: 19px;
}

.xans-myshop-orderhistorynologin #order_id1,
	.xans-myshop-orderhistorynologin #order_id2 {
	width: 79.5px;
	padding: 3px 0px 0px 5px;
	border: 1px solid #d5d5d5;
}

.xans-myshop-orderhistorynologin .button {
	width: 357px;
	margin: 5px auto 0;
	text-align: right;
}

@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

@font-face {
	font-family: "Nanum Gothic";
	src: url('../web/fonts/NanumGothic.eot');
	src: url('../web/fonts/NanumGothic.eot?#iefix')
		format('embedded-opentype'), url('../web/fonts/NanumGothic.woff')
		format('woff'), url('../web/fonts/NanumGothic.ttf') format('truetype');
	url
	('../web/fonts/NanumGothic.svg#NanumGothic')
	format('svg')
	src
	:
	local(
	¡Ø
	)
	,
	url('../web/fonts/NanumGothic.woff')
	format(
	'woff'
	);
}

html {
	width: 100%;
	height: 100%;
}

body, code {

	color: #353535;
	background: #fff;
	min-width: 1170px;
}

body {
	vertical-align: top;
	position: relative;
}

body#popup {
	min-width: 0;
}

li {
	list-style: none;
}

img, fieldset {
	border: none;
	vertical-align: top;
}

table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	display: none;
}

th, td {
	border: 0;
	vertical-align: top;
}

input, select, textarea {
	font-size: 100%;
	font-family: "µ¸¿ò", Dotum;
	color: #353535;
	vertical-align: middle;
}

.inputTypeText {
	height: 19px;
	padding: 3px 0 0 9px;
	border: 1px solid #d5d5d5;
}

select {
	height: 24px;
	border: 1px solid #d5d5d5;
}

textarea {
	padding: 5px 6px;
	border: 1px solid #d5d5d5;
	line-height: 1.5;
}

legend {
	visibility: hidden;
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 0;
	height: 0;
	line-height: 0;
}

button {
	overflow: visible;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
}

hr.layout {
	display: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.objHidden {
	visibility: hidden;
	position: absolute;
	left: -1000px;
	top: -1000px;
	height: 0;
	width: 0;
}

table tr.radioType input, span.noBorder input {
	border: none !important;
	width: auto !important;
	height: auto !important;
	margin: 0 3px 0 0 !important;
	vertical-align: middle !important;
	background: none !important;
}

#content_CONTAINER td {
	width: auto !important;
}

table.nneditor-table {
	width: auto !important;
}

#content_CONTAINER td, #bi_inquire_content_CONTAINER td {
	padding: 0;
	width: auto !important;
}

#progressPaybarBackground {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#progressPaybarView {
	position: absolute;
	z-index: 100;
	top: 160px;
	left: 20px;
	width: 471px;
	font-size: 12px;
}

#progressPaybarView .box {
	height: 180px;
	background:
		url(http://img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif)
		0 0 no-repeat;
}

#progressPaybarView .box .graph {
	padding: 15px 0 0 0;
	text-align: center;
}

#progressPaybarView .box .graph span {
	display: block;
	text-align: center;
	margin: 20px 0;
}

#progressPaybarView .box .txt {
	text-align: center;
	padding: 15px 0 0;
	color: #555555;
}

div.layerProgress {
	filter: alpha(opacity = 40);
	opacity: 0.4;
	-moz-opacity: 0.4;
	background-color: #999;
}

#skipNavigation {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 0;
}

#skipNavigation p, #skipNavigation ul, #skipNavigation ul li {
	height: 0;
}

#skipNavigation p a {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin-left: -1px;
	margin-bottom: -1px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

#skipNavigation p a:focus, #skipNavigation p a:hover, #skipNavigation p a:active
	{
	width: 100%;
	height: auto;
	padding: 10px 0;
	background: #c4122f;
	color: #fff;
	z-index: 100;
}

.displaynone {
	display: none;
}

.dimmed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#header {
	width: 100%;
	position: relative;
	margin: 0 auto;
}

#header .top_logo {
	display: block;
	float: left;
}

#header .inner {
	position: absolute;
	right: 0;
	top: 0;
	*zoom: 1;
}

#header .topArea {
	height: 112px;
	padding: 83px 0 0;
	text-align: center;
	*zoom: 1;
}

#header .topArea:after {
	content: "";
	display: block;
	clear: both;
}

#header .special {
	float: left;
	border-left: 1px solid #d8d8d8;
}

#header .special li {
	float: left;
}

#header .special a {
	display: block;
	height: 20px;
	padding: 16px 15px 9px;
	border-right: 1px solid #d8d8d8;
	color: #353535;
	text-decoration: none;
}

#header .special a:hover {
	color: #008bcc;
	padding-bottom: 7px;
	border-bottom: 2px solid #008bcc;
}

#header .link {
	position: absolute;
	left: 0;
	top: 0;
	height: 35px;
	line-height: 35px;
}

#header .link>a, #header .link>span {
	float: left;
}

#header .link>a {
	margin: 0 9px 0 0;
	padding: 0 10px 0 0;
	color: #666;
	text-decoration: none;
	background:
		url("http://img.echosting.cafe24.com/skin/base/common/ico_bar.gif")
		no-repeat 100% 12px;
}

#header .link>span img {
	vertical-align: middle;
}

#header .link .xans-layout-bookmark span {
	padding-left: 17px;
	background:
		url("http://img.echosting.cafe24.com/skin/base/layout/ico_bookmark.png")
		no-repeat 0 1px;
}

#header .top_bor {
	height: 34px;
	width: 100%;
	z-index: 11;
	background: #c92a2d;
}

#footer {
	background: #fffbd4
}

.custom-scrolltop {
	font-size: 1.5em;
	line-height: 67px;
	width: 67px !important;
	height: 67px !important;
	background: url(/web/upload/mingiya/top_btn.png) center no-repeat;
}

.mt147 {
	margin-top: 147px;
}

.path {
	display: none;
}

#menus {
	width: 100%;
	position: relative;
	z-index: 10;
	background: #e93c40;
	height: 100px;
	border-bottom: 2px solid #c92a2d;
	box-sizing: border-box;
	text-align: center;
}

.digimeg-nav-wrap {
	position: relative;
}

.digimeg-nav-wrap .effect_menu {
	
}

.digimeg-nav-wrap .effect_menu li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
}

.digimeg-nav-wrap .effect_menu li a {
	display: block;
	padding: 32px 25px;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	position: relative;
	background: url(/web/upload/mingiya/menu_line_bar.gif) no-repeat left
		center;
	font-weight: 600;
	letter-spacing: -0.02em;
}

.digimeg-nav-wrap .effect_menu li:first-child {
	padding-top: 10px;
}

.digimeg-nav-wrap .effect_menu li:first-child a {
	background: none;
	padding: 0;
	float: left;
	margin-right: 76px;
}

.digimeg-nav-wrap .effect_menu li:last-child a {
	padding-right: 0px;
}

.digimeg-nav-wrap .effect_menu li a:hover {
	color: black;
}

.digimeg-group li.event {
	background: url(/web/upload/mingiya/event_menu_iconbg.png) no-repeat
		24px 25px;
}

.digimeg-group:after {
	content: '.';
	visibility: hidden;
	clear: both;
	display: block;
	line-height: 0px;
}

.effect_menu_box li {
	display: block;
	width: 100%;
	background: white;
}

.effect_menu_box>li {
	
}

.effect_menu_box .suv_01 {
	width: 108px;
}

.effect_menu_box .suv_02 {
	width: 155px;
}

.effect_menu_box .suv_03 {
	width: 100px;
}

.effect_menu_box .suv_04 {
	width: 150px;
}

.effect_menu_box .suv_05 {
	width: 95px;
}

.effect_menu_box .suv_06 {
	width: 155px;
}

.effect_menu_box .suv_07 {
	width: 61px;
}

.digimeg-nav-item-content {
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0px;
	color: black;
}

.digimeg-nav-item-content>div:first-child {
	padding: 0px;
}

.digimeg-nav-item-content h2 {
	font-size: 30px;
	font-weight: 400;
	float: left;
	padding-right: 36px;
}

.digimeg-nav-item-content a {
	color: black;
}

.digimeg-nav-chunk {
	display: block;
	float: left;
	padding: 10px 0px 0px;
}

.digimeg-nav-chunk ul li a {
	font-size: 14px;
	display: block;
	text-align: center;
	letter-spacing: -0.03em;
	line-height: 26px;
}

.digimeg-nav-chunk ul li a:hover {
	color: #e93c40;
}

.effect_menu_box {
	position: relative;
}

.effect_menu_box>li {
	position: absolute;
	top: 0px;
	display: none;
}

.digimeg-active-mark {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	z-index: 102;
	border-style: solid !important;
	border-color: #ccc transparent transparent !important;
	border-width: 8px 10px 0 !important;
}

.temporary-content {
	padding: 30px;
}

.temporary-content p {
	font-size: 20px;
	margin-top: 10px;
}

.m_visual .large-12 {
	position: relative;
	overflow: hidden;
}

.m_visual .owl-nav {
	position: relative;
	margin-top: 0px !important;
}

.m_visual .owl-nav .owl-prev {
	position: absolute;
	top: -300px;
	text-indent: -9999px;
	left: 50%;
	margin-left: -620px !important;
	width: 42px;
	height: 42px;
	padding: 0px !important;
	background: url(/web/upload/mingiya/m_pre_bg.png) no-repeat !important;
	opacity: 1;
}

.m_visual .owl-nav .owl-next {
	position: absolute;
	top: -300px;
	text-indent: -9999px;
	left: 50%;
	margin-left: 578px !important;
	width: 42px;
	height: 42px;
	padding: 0px !important;
	background: url(/web/upload/mingiya/m_next_bg.png) no-repeat !important;
	opacity: 1;
}

.m_visual .owl-nav .owl-prev:hover {
	opacity: 0.8 !important;
}

.m_visual .owl-nav .owl-next:hover {
	opacity: 0.8 !important;
}

.m_visual .BGG1 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 5000px;
	margin-left: -5620px;
	height: 550px;
	background: #000;
	opacity: 0.5;
	z-index: 10;
	font-size: 0px;
	display: none;
}

.m_visual .BGG2 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 5000px;
	margin-left: 620px;
	height: 550px;
	background: #000;
	opacity: 0.5;
	z-index: 10;
	font-size: 0px;
	display: none;
}

.m_visual .owl-dots {
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: none;
}

.visual_box {
	width: 100%;
	height: 100%;
}

.visual_box:after {
	content: "";
	display: block;
	clear: both;
}

.glider {
	overflow: hidden;
	position: relative;
	max-width: 390px !important;
}

.glider-list {
	position: relative
}

.glider-ltr .glider-list {
	left: 0;
}

.glider-rtl .glider-list {
	right: 0;
}

.glider-ltr.ease .glider-list {
	transition: left 0.5s ease;
}

.glider-rtl.ease .glider-list {
	transition: right 0.5s ease;
}

.glider .glider-item {
	display: block;
	box-sizing: border-box;
}

.glider-rtl .glider-item {
	float: right;
}

.glider-ltr .glider-item {
	float: left;
}

.glider .glider-control-back, .glider .glider-control-next {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 2em;
	padding: 0.5em;
}

.glider-ltr .glider-control-back {
	position: absolute;
	left: 0;
}

.glider-ltr .glider-control-next {
	position: absolute;
	right: 0;
}

.glider-rtl .glider-control-back {
	position: absolute;
	right: 0;
}

.glider-rtl .glider-control-next {
	position: absolute;
	left: 0;
}

.glider .glider-top {
	top: 0;
}

.glider .glider-middle {
	top: 40%;
}

.glider .glider-bottom {
	bottom: 0;
}

.glider .glider-control-link {
	padding: 0;
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
}

.glider .glider-control-link li {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	padding: 0;
	margin: 0.3em;
	color: #FFF;
}

.glider .glider-circle-icon {
	display: inline-block;
	background-color: #FFF;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	transition: background 0.5s ease;
}

.glider .glider-link.selected .glider-circle-icon {
	background-color: #1F3;
}

.mgy_list {
	width: 1170px;
	margin: 0 auto;
}

.mgy_list h2 {
	font-family: "Lato", "NanumGothic", "³ª´®°íµñ", "NanumGothicWeb", "¸¼Àº °íµñ",
		"Malgun Gothic", Dotum;
}

.cl:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.mgy_list {
	width: 1170px;
	margin: 0 auto;
	font-family: "Lato", "NanumGothic", "³ª´®°íµñ", "NanumGothicWeb", "¸¼Àº °íµñ",
		"Malgun Gothic", Dotum;
	text-align: center;
}

#contents .scroll_bg {
	width: 100%;
	height: 200px;
	background: url(/web/upload/mingiya/scroll_bg.jpg) 90px fixed;
	position: relative;
	cursor: pointer;
	margin: 20px 0px 80px 0px;
}

#contents .scroll_title {
	text-align: center;
	padding: 60px 0px 0px;
	font-size: 55px;
	font-family: "³ª´®¸íÁ¶";
	color: #fff;
}

#contents .scroll_title span.text {
	text-align: center;
	padding: 0px 0px 0px;
	font-size: 14px;
	display: block;
	color: #fff;
	font-family: "³ª´®°íµñ";
}

#contents .scroll_title span.scroll_button a {
	font-family: "³ª´®°íµñ";
	font-size: 12px;
	display: inline-block;
	background: #fff;
	color: #000;
	text-align: center;
	line-height: 30px;
	padding: 0px 15px;
	width: 105px;
	box-sizing: border-box;
	margin-top: 30px;
}

#contents .scroll_title span.scroll_button a:hover {
	background: #000;
	color: #fff;
}

.customIcon1 {
	width: 34px;
	height: 35px;
	margin-left: 1px;
	position: relative;
	z-index: 2;
	background-color: #444;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 35px;
}

#wrap {
	position: relative;
	width: 100%;
}

#contents {
	position: relative;
}

#container {
	width: 1100px;
	margin: 0 auto;
	*zoom: 1;
	position: relative;
}

#container:after {
	content: "";
	display: block;
	clear: both;
}

.leftArea {
	position: relative;
}

.leftArea h3 {
	font-size: 18px;
	color: #282828;
	letter-spacing: -0.03em;
	padding-bottom: 10px;
	border-bottom: 2px solid #282828;
	font-weight: 600;
	margin-bottom: 15px;
	padding-top: 8px;
}

.leftArea .more {
	position: absolute;
	top: 0;
	right: 0;
}

.leftArea table {
	width: 100%;
}

.leftArea table th {
	display: none;
}

.leftArea td {
	padding: 15px 0px;
	font-size: 11.5px;
	ine-height: 15px;
	letter-spacing: -0.03em;
	border-bottom: 1px solid #ededed;
}

.leftArea td.title {
	width: auto;
	text-align: left;
}

.leftArea td.title a {
	color: #7d7d7d;
	font-size: 16px;
	letter-spacing: -0.03em;
}

.leftArea td.title a:hover {
	color: #666;
}

.leftArea table td.date {
	text-align: right;
	width: 75px;
	color: #666;
	display: none;
}

.leftArea_type2 table {
	width: 100%;
}

.leftArea_type2 td {
	padding: 13px 0px;
	border: none;
	background: url(/web/upload/mingiya/line_bg.gif) left bottom repeat-x;
	font-size: 12px;
	line-height: 15px;
	font-family: "Dotum";
	letter-spacing: -0.03em;
}

.leftArea_type2 td.title {
	width: auto;
	text-align: left;
}

.leftArea_type2 td.title a {
	color: #333
}

.leftArea_type2 td.title a:hover {
	color: #a6a6a6;
}

.leftArea_type2 p {
	padding: 40px 0px;
	text-align: center;
}

#boardArea {
	overflow: hidden;
	margin: 50px 0 0;
	border-top: 1px solid #d8d8d8;
}

#bannerArea {
	margin: 22px 0 0;
}

#bannerArea h2 {
	margin: 0 0 16px;
	font-weight: normal;
	font-size: 20px;
	color: #2e2e2e;
	text-align: center;
}

.path {
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	*zoom: 1;
}

.path span {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	white-space: nowrap;
	text-indent: 100%;
}

.path ol {
	float: right;
}

.path li {
	float: left;
	padding: 0 0 0 12px;
	margin: 0 0 0 8px;
	color: #757575;
	background:
		url("http://img.echosting.cafe24.com/skin/base/layout/ico_path.gif")
		no-repeat 0 10px;
}

.path li:first-child {
	background: none;
}

.path li a {
	color: #757575;
}

.path li strong, .path li strong a {
	color: #2e2e2e;
}

.titleArea {
	min-height: 30px;
	margin: 80px 0 40px 0;
	text-align: center;
}

.titleArea h2 {
	color: #282828;
	font-size: 15px;
}

.titleArea p {
	display: inline-block;
	margin: 0 0 0 6px;
	padding: 0 0 0 10px;
	color: #939393;
	background:
		url("http://img.echosting.cafe24.com/skin/base/layout/ico_bar.gif")
		no-repeat 0 0;
	*display: inline;
	*zoom: 1;
}

.titleArea ul {
	padding: 5px 0;
	color: #939393;
	line-height: 18px;
}

.titleArea ul li {
	padding: 0 0 0 9px;
	background:
		url("http://img.echosting.cafe24.com/skin/base/common/ico_square2.gif")
		no-repeat 4px 7px;
}

.typeThinBg .agree {
	padding: 40px;
	border: 1px solid #ddd;
	margin-bottom: 100px;
}

.typeThinBg .agree p {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 24px;
}

.help {
	margin: 40px 0 0;
	border: 1px solid #d6d4d4;
	line-height: 18px;
}

.help h3 {
	padding: 9px 0 6px 10px;
	border-bottom: 1px solid #e8e7e7;
	color: #353535;
	font-size: 12px;
	background: #fbfbfb;
}

.help .content {
	padding: 0 9px 12px;
}

.help .content h4 {
	margin: 22px 0 -4px;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}

.help .content h4:first-child {
	margin-top: 13px;
}

.help .content p {
	margin: 15px 0 0 10px;
	color: #757575;
}

.help .content ul {
	margin: 15px 0 0 11px;
}

.help .content li {
	padding: 0 0 0 25px;
	color: #757575;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_number.png")
		no-repeat;
}

.help .content li.item1 {
	background-position: -484px 0;
}

.help .content li.item2 {
	background-position: -434px -100px;
}

.help .content li.item3 {
	background-position: -384px -200px;
}

.help .content li.item4 {
	background-position: -334px -300px;
}

.help .content li.item5 {
	background-position: -284px -400px;
}

.help .content li.item6 {
	background-position: -234px -500px;
}

.help .content li.item7 {
	background-position: -184px -600px;
}

.help .content li.item8 {
	background-position: -134px -700px;
}

.help .content li.item9 {
	background-position: -84px -800px;
}

.help .content li.item10 {
	background-position: -34px -900px;
}

#modalBackpanel {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: #000;
}

#modalContainer {
	display: none;
	position: absolute;
	top: 100px;
	left: 100px;
	z-index: 10001;
	width: 975px;
	height: 550px;
	border: 1px solid #333;
	background: #fff;
}

#modalContainer #modalContent {
	width: 100%;
	height: 100%;
}

.main_program {
	background: url(/web/upload/mingiya/main_program_bg.gif) no-repeat
		center bottom;
}

.main_program ul.program_img {
	text-align: center;
	width: 1100px;
	margin: 0 auto;
}

.main_program ul.program_img li {
	display: inline-block;
}

.main_program ul.program_img li a {
	display: block;
}

.main_news .m_new_box {
	width: 1100px;
	margin: 0 auto;
}

.main_news .m_new_box>div {
	float: left;
}

.main_news .m_new_box>div p.title {
	font-size: 18px;
	color: #282828;
	letter-spacing: -0.03em;
	padding-bottom: 10px;
	border-bottom: 2px solid #282828;
	font-weight: 600;
	margin-bottom: 15px;
	padding-top: 8px;
}

.main_news .m_new_box .bd_left {
	margin-right: 50px;
}

.main_news .m_new_box .bd_left ul.sns {
	margin-top: 110px;
	position: relative;
}

.main_news .m_new_box .bd_left ul.sns ul li a {
	display: block;
}

.main_news .m_new_box .bd_left ul.sns ul li {
	float: left;
	padding-left: 15px;
}

.main_news .m_new_box .bd_left ul.sns ul li:first-child {
	padding-left: 0px;
}

.main_news .m_new_box .bd_left ul.sns ul {
	position: absolute;
	right: 0;
	top: -20px;
}

.main_news .m_new_box .bd_left ul.sns p {
	background: url(/web/upload/mingiya/news_title_bg.gif) 160px center
		no-repeat;
}

.main_news .m_new_box .bd_right {
	width: 500px;
}

.main_news .boardMain {
	overflow: hidden;
	*zoom: 1;
}

.main_news .boardMain td img {
	vertical-align: middle;
	margin: 1px;
}

.sub_conts h4 {
	color: #282828;
	font-size: 44px;
	letter-spacing: -0.05em;
	background: url(/web/upload/mingiya/sub_h4_bg.gif) no-repeat center
		center;
	padding-bottom: 106px;
	text-align: center;
	margin-top: 90px;
}

.sub_conts .sub_intro_box>div {
	position: relative;
}

.sub_conts .sub_intro_box .intro01 {
	margin-top: 115px;
}

.sub_conts .sub_intro_box .intro02 {
	margin-top: 157px;
}

.sub_conts .sub_intro_box .intro03 {
	margin-top: 65px;
}

.sub_conts .sub_intro_box .intro01 p.btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.sub_conts .sub_intro_box .intro02 p.btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.sub_conts .sub_intro_box .intro03 p.btn {
	position: absolute;
	left: 0;
	bottom: 0;
}

.sub_conts .sub_intro_box .btn a {
	display: block;
}

.sub_wrap .sub_program {
	text-align: center;
}

.sub_wrap .sub_program li {
	float: left;
}

.sub_wrap .sub_program li a {
	display: block;
	box-sizing: border-box;
	width: 200px;
	height: 60px;
	text-align: center;
	border: 1px solid #282828;
	line-height: 60px;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: -0.05em;
}

.sub_wrap .sub_program li a.active {
	background: #282828;
	color: #fff;
}

.sub_wrap {
	width: 400px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 120px;
}

.sub_conts .sub_program01 {
	margin-top: 120px;
}

.sub_program_box {
	position: relative;
}

.sub_program_box p.btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.sub_program_box .btn a {
	display: block;
}

.sub_map_box {
	text-align: center;
}

.sub_map_box p.title {
	font-size: 30px;
	color: #282828;
	letter-spacing: -0.03em;
	margin: 0px 0px 17px;
}

.sub_map_box p.text {
	color: #e93c40;
	font-size: 20px;
	letter-spacing: -0.03em;
	margin-bottom: 40px;
}

.txtInfo {
	color: #707070;
}

.txtWarn {
	color: #f76560;
}

.txtEm {
	color: #008bcc;
}

.txtDel, .strike, .discount {
	text-decoration: line-through;
	font-weight: normal;
}

.strike strong, .discount strong {
	font-weight: normal;
}

.txtNormal {
	font-weight: normal;
	font-style: normal;
}

.txtNum {
	font-size: 11px;
	color: #939393;
}

.txt11 {
	font-size: 11px;
}

.txt12 {
	font-size: 12px;
}

.txt14 {
	font-size: 14px;
}

.txt16 {
	font-size: 16px;
}

.txt18 {
	font-size: 18px;
}

.txtIcon {
	font-size: 12px;
	font-style: normal;
}

.txtBreak {
	word-break: break-all;
	word-wrap: break-word;
}

html:lang(ja) .txt11, html:lang(zh) .txt11, html:lang(zh-tw) .txt11 {
	font-size: 12px;
}

.gBlank5 {
	display: block;
	margin-top: 5px;
}

.gBlank10 {
	display: block;
	margin-top: 10px;
}

.gBlank20 {
	display: block;
	margin-top: 20px;
}

.gBlank30 {
	display: block;
	margin-top: 30px;
}

.gIndent10 {
	margin-left: 10px;
}

.gIndent20 {
	margin-left: 20px;
}

.gSpace10 {
	margin-right: 10px;
}

.gSpace20 {
	margin-right: 20px;
}

.gMerge {
	position: relative;
	z-index: 1;
	margin-top: -1px;
}

.ec-base-qty {
	position: relative;
	display: inline-block;
	width: 50px;
	margin: 0 1px 0 0;
	text-align: left;
}

.ec-base-qty input[type="text"] {
	width: 22px;
	height: 23px;
	padding: 0 0 0 5px;
	line-height: 25px;
	border: 1px solid #d4d8d9;
	border-radius: 3px 0 0 3px;
}

.ec-base-qty .up {
	position: absolute;
	left: 27px;
	top: 0;
}

.ec-base-qty .down {
	position: absolute;
	left: 27px;
	bottom: 0;
}

.ec-base-tooltip {
	display: none;
	z-index: 2;
	position: absolute;
	top: 24px;
	padding: 15px;
	border: 1px solid #565960;
	background: #fff;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.ec-base-tooltip h3 {
	margin: 0 0 8px;
	padding: 0 10px;
	font-size: 12px;
	border-bottom: 0;
	background:
		url("//img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif")
		no-repeat 0 50%;
}

.ec-base-tooltip h3+p {
	margin: 0 5px 10px;
}

.ec-base-tooltip h4 {
	margin: 15px 10px 8px 5px;
	font-size: 12px;
}

.ec-base-tooltip h4:before {
	display: inline-block;
	content: "";
	margin: 0 5px 0 0;
	width: 3px;
	height: 3px;
	background: #666;
	vertical-align: middle;
}

.ec-base-tooltip .btnClose {
	position: absolute;
	right: 14px;
	top: 14px;
}

.ec-base-tooltip .edge {
	z-index: 20;
	position: absolute;
	left: 50%;
	top: -6px;
	display: block;
	margin: 0 0 0 -5px;
	width: 10px;
	height: 6px;
}

.ec-base-tooltip .edge:before, .ec-base-tooltip .edge:after {
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border: solid transparent;
}

.ec-base-tooltip .edge:before {
	margin: 1px 0 0;
	border-bottom-color: #565960;
	border-width: 0 5px 5px 5px;
}

.ec-base-tooltip .edge:after {
	left: 1px;
	margin: 2px 0 0;
	border-bottom-color: #fff;
	border-width: 0 4px 4px 4px;
}

.ec-base-tooltip table th, .ec-base-tooltip table td {
	padding: 8px 10px 7px 10px;
	border: 1px solid #e8e8e8;
	line-height: 1.5em;
}

.ec-base-tooltip table th {
	padding-right: 0;
	background: #fbf9fa;
}

.ec-base-tooltip table thead th {
	text-align: center;
}

.ec-base-tooltip table tbody th {
	text-align: left;
}

.ec-base-tooltip table .left {
	text-align: left;
}

.ec-base-tooltip table .center {
	text-align: center;
}

.ec-base-tooltip table .right {
	text-align: right;
}

.ec-base-tooltip table .info {
	padding: 0;
	color: #757575;
}

.ec-base-tooltip table p.info:before, .ec-base-tooltip table ul.info li:before
	{
	display: inline-block;
	content: "";
	margin: 0 3px 0 0;
	width: 4px;
	height: 1px;
	background: #757575;
	vertical-align: middle;
}

.ec-base-tooltip .info {
	padding: 10px 10px 0;
	margin: 5px 0 0;
}

.ec-base-tooltip p.bullet, .ec-base-tooltip ul.bullet {
	margin: 8px 10px;
}

.ec-base-tooltip p.bullet:before, .ec-base-tooltip ul.bullet li:before {
	display: inline-block;
	content: "";
	margin: -3px 3px 0 0;
	width: 0;
	height: 0;
	border: solid transparent;
	border-left-color: #333;
	border-width: 2px 0 2px 2px;
	vertical-align: middle;
}

.ec-base-tooltip ul.bullet li {
	line-height: 1.5em;
}

.ec-base-tooltip .txtEm {
	color: #008bcc;
}

.ec-base-tooltip .txtWarn {
	color: #f65b54;
}

.ec-base-tooltip.typeUpper {
	top: auto;
	bottom: 34px;
}

.ec-base-tooltip.typeUpper .edge {
	top: auto;
	bottom: -6px;
}

.ec-base-tooltip.typeUpper .edge:before {
	margin: 0 0 -5px;
	border-top-color: #565960;
	border-width: 5px 5px 0 5px;
}

.ec-base-tooltip.typeUpper .edge:after {
	left: 1px;
	margin: 0 0 -4px;
	border-top-color: #fff;
	border-width: 4px 4px 0 4px;
}

span.ec-base-help, p.ec-base-help, ul.ec-base-help li {
	margin: 2px 9px;
	padding: 1px 0 1px 20px;
	line-height: 1.4;
	background:
		url('//img.echosting.cafe24.com/skin/base/common/ico_info.gif')
		no-repeat 0 2px;
}

div.ec-base-help {
	margin: 20px 0;
	border: 1px solid #e5e5e5;
	line-height: 18px;
}

div.ec-base-help>h2, div.ec-base-help>h3 {
	padding: 9px 0 6px 10px;
	border-bottom: 1px solid #e5e5e5;
	color: #101010;
	font-size: 12px;
	background: #fbfbfb;
}

div.ec-base-help .inner {
	padding: 0 9px 12px;
}

div.ec-base-help h4 {
	margin: 22px 0 -4px;
	color: #404040;
	font-size: 12px;
	font-weight: normal;
}

div.ec-base-help h4:first-child {
	margin-top: 13px;
}

div.ec-base-help p {
	margin: 15px 0 0 10px;
	color: #707070;
}

div.ec-base-help ul, div.ec-base-help ol {
	margin: 15px 0 0 11px;
}

div.ec-base-help li {
	color: #707070;
}

div.ec-base-help ol li {
	padding: 0 0 0 25px;
	background:
		url('//img.echosting.cafe24.com/skin/base/common/ico_number.png')
		no-repeat;
}

div.ec-base-help ol .item1 {
	background-position: -484px 0;
}

div.ec-base-help ol .item2 {
	background-position: -434px -100px;
}

div.ec-base-help ol .item3 {
	background-position: -384px -200px;
}

div.ec-base-help ol .item4 {
	background-position: -334px -300px;
}

div.ec-base-help ol .item5 {
	background-position: -284px -400px;
}

div.ec-base-help ol .item6 {
	background-position: -234px -500px;
}

div.ec-base-help ol .item7 {
	background-position: -184px -600px;
}

div.ec-base-help ol .item8 {
	background-position: -134px -700px;
}

div.ec-base-help ol .item9 {
	background-position: -84px -800px;
}

div.ec-base-help ol .item10 {
	background-position: -34px -900px;
}

div.ec-base-help ul li {
	padding: 0 0 0 11px;
	background:
		url('//img.echosting.cafe24.com/skin/base/common/ico_dash.gif')
		no-repeat 0 7px;
}

span.helps, p.helps, ul.helps li {
	margin: 2px 9px;
	padding: 1px 0 1px 20px;
	line-height: 1.4;
	background:
		url('//img.echosting.cafe24.com/skin/base/common/ico_info.gif')
		no-repeat 0 2px;
}

div.helps {
	margin: 20px 0;
	line-height: 18px;
	padding-top: 30px;
}

div.helps>h2, div.helps>h3 {
	padding: 9px 0 6px 10px;
	color: #444;
	font-size: 12px;
}

div.helps .inner {
	padding: 0 9px 12px;
}

div.helps h4 {
	margin: 22px 0 -4px;
	color: #444;
	font-size: 12px;
	font-weight: 600;
}

div.helps h4:first-child {
	margin-top: 13px;
}

div.helps p {
	margin: 15px 0 0 10px;
	color: #707070;
}

div.helps ul, div.helps ol {
	margin-top: 15px;
}

div.helps li {
	color: #707070;
}

div.helps ol li {
	padding: 0;
	letter-spacing: -0.03em;
	line-height: 24px;
}

div.helps ul li {
	padding: 0
}

.ec-base-product {
	margin: 22px 0 0;
}

.ec-base-product .title {
	margin: 0 0 17px;
}

.ec-base-product .title h2 {
	font-weight: normal;
	font-size: 20px;
	color: #2e2e2e;
	text-align: center;
}

.ec-base-product .title h3 {
	font-weight: normal;
	font-size: 20px;
	color: #2e2e2e;
	text-align: center;
}

.ec-base-product img {
	vertical-align: middle;
}

.ec-base-product a[href^='/product/detail.html']>img {
	border: 1px solid #ececec;
}

.ec-base-product .prdList {
	display: table;
	width: 100%;
	min-width: 756px;
	margin: -20px 0 0;
	font-size: 0;
	line-height: 0;
}

.ec-base-product .prdList>li {
	display: inline-block;
	margin: 20px 0;
	color: #757575;
	vertical-align: top;
}

.ec-base-product .prdList .chk {
	display: block;
	margin: 0 0 10px;
	text-align: center;
}

.ec-base-product .prdList .thumbnail {
	position: relative;
	margin: 0 7px 10px;
	text-align: center;
}

.ec-base-product .prdList .thumbnail a img {
	max-width: 100%;
	box-sizing: border-box;
}

.ec-base-product .prdList .thumbnail .wish {
	position: absolute;
	right: 3px;
	bottom: 4px;
	z-index: 1;
	cursor: pointer;
}

.ec-base-product .prdList .thumbnail .prdIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.ec-base-product .prdList .description {
	margin: 0 auto;
	padding: 0 7px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.ec-base-product .prdList .description .name {
	display: block;
	text-align: left;
}

.ec-base-product .prdList .description .name a {
	color: #2e2e2e;
}

.ec-base-product .prdList .description .icon {
	margin: 0 0 15px;
	border-bottom: 1px solid #e8e8e8;
	vertical-align: middle;
}

.ec-base-product .prdList .description .icon:after {
	content: "";
	display: block;
	clear: both;
}

.ec-base-product .prdList .description .promotion {
	float: left;
	margin: 0 0 4px;
	text-align: left;
}

.ec-base-product .prdList .description .button {
	float: right;
	margin: 0 0 4px;
}

.ec-base-product .prdList .description .button img {
	cursor: pointer;
}

.ec-base-product .prdList .description .button .option {
	display: inline;
	position: relative;
}

.ec-base-product .prdList .description .mileage {
	display: block;
}

.ec-base-product .prdList .description span.grid {
	display: block;
}

.ec-base-product .prdList .description .button .likeButton {
	display: inline-block;
	margin: 0 5px;
}

.ec-base-product .prdList .description .button .likeButton button {
	font-family: verdana;
	color: #9a9a9a;
	letter-spacing: -1px;
	background: none;
}

.ec-base-product .prdList .description .button .likeButton button img {
	margin-bottom: 0;
	vertical-align: middle;
}

.ec-base-product .prdList .description .button .likeButton button strong
	{
	height: 16px;
	vertical-align: middle;
}

.ec-base-product .prdList .description .button .likeButton.selected button
	{
	color: #353535;
}

.ec-base-product ul.grid3>li {
	width: 33.33%;
}

.ec-base-product ul.grid4>li {
	width: 25%;
}

.ec-base-product ul.grid5>li {
	width: 20%;
}

.ec-base-product ul.grid3>li .color {
	max-width: 230px;
}

.ec-base-product ul.grid4>li .color {
	max-width: 190px;
}

.ec-base-product ul.grid5>li .color {
	max-width: 130px;
}

.ec-base-product .spec {
	margin: 0;
}

.ec-base-product .spec li {
	text-align: left;
}

.ec-base-product .spec li .title {
	font-weight: normal;
	vertical-align: top;
}

.ec-base-product .spec li .title span {
	vertical-align: top;
}

.ec-base-product .spec li .color {
	overflow: hidden;
	display: inline-block;
	margin: 3px 0 0 0;
}

.ec-base-product .spec li .chips {
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 2px 2px 0;
	border: 1px solid #e3e3e3;
	font-size: 0;
	line-height: 0;
}

.ec-base-product .discountPeriod {
	display: inline-block;
	z-index: 10;
	position: relative;
	width: 55px;
	height: 19px;
	vertical-align: middle;
}

.ec-base-product .layerDiscountPeriod {
	left: 50%;
	top: 26px;
	width: 247px;
	margin: 0 0 0 -124px;
}

.ec-base-product .layerDiscountPeriod strong.title {
	display: block;
	margin: 0 0 12px;
	padding: 0 35px 0 0;
	font-weight: bold;
	color: #2e2e2e;
}

.ec-base-product .layerDiscountPeriod .content p {
	margin: 2px 0 0;
	font-size: 11px;
	line-height: 16px;
	color: #757575;
	letter-spacing: -1px;
}

.ec-base-product .layerDiscountPeriod .content p strong {
	font-weight: normal;
	font-size: 12px;
	color: #2e2e2e;
}

.ec-base-product .layerDiscountPeriod .content p strong span {
	font-size: 11px;
}

.ec-base-product .prdList .shippingFee {
	position: relative;
	display: inline-block;
}

.ec-base-product .prdList .shippingFee .button {
	display: inline-block;
	float: none;
}

.ec-base-product .prdList .shippingFee .ec-base-tooltip {
	z-index: 11;
	display: block;
	margin: 0 0 0 -170px;
	width: 360px;
}

.ec-base-product .prdList .shippingFee .ec-base-tooltip table th {
	width: 40px;
}

.ec-base-product .prdList .shippingFee .ec-base-tooltip table th,
	.ec-base-product .prdList .shippingFee .ec-base-tooltip table td {
	padding: 7px 10px 8px 10px;
}

.ec-base-product .btnTooltip {
	position: relative;
	display: inline-block;
}

.differentialShipping {
	display: none;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 17px;
	z-index: 100;
	width: 350px;
	margin: 0 0 0 -176px;
}

.differentialShipping h3.title {
	margin: 0;
	height: 35px;
	padding: 0 35px 0 19px;
	border: 0;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	background: #495164;
}

.differentialShipping .content {
	padding: 12px 18px 14px 18px;
	border: 1px solid #757575;
	border-top: 0;
	text-align: center;
	background: #fff;
}

.differentialShipping .close {
	position: absolute;
	right: 14px;
	top: 12px;
}

.differentialShipping .close img {
	cursor: pointer;
}

.differentialShipping .content ul {
	color: #757575;
	line-height: 25px;
}

.differentialShipping .content li {
	overflow: hidden;
}

.differentialShipping .content li strong {
	float: left;
	font-weight: normal;
}

.differentialShipping .content li span {
	float: right;
	color: #2e2e2e;
}

.differentialShipping .content .info {
	margin: 7px 0 0;
	padding: 7px 0 0;
	border-top: 1px dotted #b0b1b3;
	color: #80aeef;
	text-align: right;
}

.ec-product-bgLT {
	background-position: left top;
}

.ec-product-bgLC {
	background-position: left center;
}

.ec-product-bgLB {
	background-position: left bottom;
}

.ec-product-bgRT {
	background-position: right top;
}

.ec-product-bgRC {
	background-position: right center;
}

.ec-product-bgRB {
	background-position: right bottom;
}

.ec-product-bgCT {
	background-position: center top;
}

.ec-product-bgCC {
	background-position: center center;
}

.ec-product-bgCB {
	background-position: center bottom;
}

.ec-base-paginate {
	margin: 30px 0;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.ec-base-paginate ol {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	*margin: 0;
}

.ec-base-paginate li {
	display: inline-block;
	margin: 0 0 0 -1px;
	border: 1px solid #d7d5d5;
	font-size: 12px;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.ec-base-paginate li:first-child {
	margin-left: 0;
}

.ec-base-paginate img {
	vertical-align: top;
}

.ec-base-paginate li a {
	display: block;
	width: 33px;
	padding: 9px 0;
	font-weight: bold;
	color: #939393;
	line-height: 14px;
	background: #fff;
}

.ec-base-paginate li a:hover {
	text-decoration: none;
	background: #f0f2f2;
}

.ec-base-paginate li a.this {
	padding-bottom: 6px;
	border-bottom: 3px solid #495164;
	color: #495164;
}

.ec-base-paginate a.nolink {
	cursor: default;
}

.ec-base-paginate.typeSub ol {
	margin: 0 15px;
	vertical-align: middle;
}

.ec-base-paginate.typeSub li {
	font-size: 12px;
	border: 0;
}

.ec-base-paginate.typeSub img {
	vertical-align: middle;
}

.ec-base-paginate.typeSub li a {
	width: auto;
	margin: 0 5px 0;
	padding: 2px;
	color: #353535;
	background: none;
}

.ec-base-paginate.typeSub li a.this {
	color: #008bcc;
	text-decoration: underline;
	border: 0;
}

.ec-base-paginate.typeSub .first {
	margin-right: 3px;
}

.ec-base-paginate.typeSub .last {
	margin-left: 3px;
}

.mgy-paginate {
	margin: 30px 0;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.mgy-paginate ol {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	*margin: 0;
}

.mgy-paginate li {
	display: inline-block;
	margin: 0 0 0 -1px;
	font-size: 12px;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.mgy-paginate li:first-child {
	margin-left: 0;
}

.mgy-paginate img {
	vertical-align: top;
}

.mgy-paginate li a {
	display: block;
	width: 33px;
	padding: 9px 0;
	color: #939393;
	line-height: 18px;
}

.mgy-paginate li a:hover {
	text-decoration: underline;
}

.mgy-paginate li a.this {
	padding-bottom: 6px;
	color: #000;
}

.mgy-paginate a.nolink {
	cursor: default;
}

.mgy-paginate.typeSub ol {
	margin: 0 15px;
	vertical-align: middle;
}

.mgy-paginate.typeSub li {
	font-size: 12px;
	border: 0;
}

.mgy-paginate.typeSub img {
	vertical-align: middle;
}

.mgy-paginate.typeSub li a {
	width: auto;
	margin: 0 5px 0;
	padding: 2px;
	color: #353535;
	background: none;
}

.mgy-paginate.typeSub li a.this {
	color: #000;
	text-decoration: underline;
	border: 0;
}

.mgy-paginate.typeSub .first {
	margin-right: 3px;
}

.mgy-paginate.typeSub .last {
	margin-left: 3px;
}

.ec-base-tab {
	position: relative;
}

.ec-base-tab .menu {
	margin: 0 0 20px;
	border: 1px solid #e5e5e5;
	border-bottom-color: #202020;
	border-left: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #fafafa
}

.ec-base-tab .menu:after {
	content: "";
	display: block;
	clear: both;
}

.ec-base-tab .menu li {
	float: left;
}

.ec-base-tab .menu li a {
	display: block;
	min-width: 187px;
	margin: 0 0 0 -1px;
	padding: 12px 5px 11px;
	color: #707070;
	text-decoration: none;
	outline: 0;
	text-align: center;
	background: #fafafa
}

.ec-base-tab .menu li:first-child a {
	margin-left: 0;
	border-left: 1px solid #cbcdce
}

.ec-base-tab .menu li.selected a {
	position: relative;
	top: -1px;
	left: -1px;
	margin: 0 0 -1px;
	border: 1px solid #202020;
	border-bottom: 0;
	color: #fff;
	font-weight: bold;
	background: #444;
}

.ec-base-tab .right {
	position: absolute;
	top: 8px;
	right: 10px;
	line-height: 24px;
	color: #909090;
}

.ec-base-tab.typeLight .menu li.selected a {
	margin: 0 0 -2px;
	border-bottom: 1px solid #fff;
	color: #404040;
	background: #fff;
}

.ec-base-tab[class*="grid"] .menu {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.ec-base-tab[class*="grid"] .menu li {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.ec-base-tab[class*="grid"] .menu li a {
	display: inline-block;
	width: 100%;
	min-width: 0;
	margin: 0;
	padding: 10px 0;
	border: 0;
	background: #fafafa;
}

.ec-base-tab[class*="grid"] .menu li.selected {
	position: relative;
	top: 0;
	right: -1px;
	border: 1px solid #444;
	border-bottom: 0;
	background: #444;
}

.ec-base-tab[class*="grid"] .menu li:first-child.selected {
	right: 0;
}

.ec-base-tab[class*="grid"] .menu li.selected a {
	position: static;
	background: none;
}

.ec-base-tab.grid2 .menu li {
	width: 50.5%;
}

.ec-base-tab.grid3 .menu li {
	width: 34%;
}

.ec-base-tab.grid4 .menu li {
	width: 25.5%;
}

.ec-base-tab.grid5 .menu li {
	width: 20.5%;
}

.ec-base-tab.grid6 .menu li {
	width: 17%;
}

.ec-base-tab.grid7 .menu li {
	width: 14.8%;
	width: 15% \0/;
}

.ec-base-tab.grid7 .menu li:first-child {
	width: 13% \0/;
	border-left: 1px solid #e5e5e5
}

.ec-base-button {
	padding: 10px 0 20px;
	text-align: center;
}

.ec-base-button.justify {
	position: relative;
}

.ec-base-button:after {
	display: block;
	content: "";
	clear: both;
}

.ec-base-button .gLeft {
	float: left;
	text-align: left;
}

.ec-base-button .gRight {
	float: right;
	text-align: right;
}

.ec-base-button.justify .gLeft {
	position: absolute;
	left: 0;
}

.ec-base-button.justify .gRight {
	position: absolute;
	right: 0;
}

.ec-base-button .text {
	margin: 0 6px 0 10px;
	color: #353535;
	line-height: 24px;
}

.ec-base-button.typeBorder {
	margin-top: -1px;
	padding: 10px 20px;
	border: 1px solid #d7d5d5;
}

.ec-base-button.typeBG {
	padding: 10px 20px;
	border: 1px solid #e5e5e5;
	background: #fff;
}

.mgy-button {
	padding: 10px 0;
	text-align: center;
}

.mgy-button.justify {
	position: relative;
}

.mgy-button:after {
	display: block;
	content: "";
	clear: both;
}

.mgy-button .gLeft {
	float: left;
	text-align: left;
}

.mgy-button .gRight {
	float: right;
	text-align: right;
}

.mgy-button .gRight .mgy_btn01 {
	border: 1px solid #cccccc;
	box-sizing: border-box;
	font-size: 12px;
	background: #333;
	color: #fff;
	width: 88px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}

.mgy-button .gRight .mgy_btn01:hover {
	background: #fff;
	font-weight: 600;
	color: #333;
}

.mgy-button.justify .gLeft {
	position: absolute;
	left: 0;
}

.mgy-button.justify .gRight {
	position: absolute;
	right: 0;
}

.mgy-button .text {
	margin: 0 6px 0 10px;
	color: #353535;
	line-height: 24px;
}

.mgy-button.typeBorder {
	margin-top: -1px;
	padding: 10px 20px;
	border: 1px solid #d7d5d5;
}

.address-button a {
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 110px;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	font-size: 12px
}

.address-button a:hover {
	font-weight: 600;
	font-size: 12px
}

.address-button a.select {
	border: 1px solid #cccccc;
	box-sizing: border-box;
	font-size: 12px;
	width: 110px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	background: #333;
	color: #fff;
}

.address-button a.select:hover {
	font-weight: 600;
	bacground: #fff;
}

.address-button {
	padding: 10px 0 20px;
	text-align: center;
}

.address-button.justify {
	position: relative;
}

.address-button:after {
	display: block;
	content: "";
	clear: both;
}

.address-button .gLeft {
	float: left;
	text-align: left;
}

.address-button .gRight {
	float: right;
	text-align: right;
}

.address-button.justify .gLeft {
	position: absolute;
	left: 0;
}

.address-button.justify .gRight {
	position: absolute;
	right: 0;
}

.address-button .text {
	margin: 0 6px 0 10px;
	color: #353535;
	line-height: 24px;
}

.address-button.typeBorder {
	margin-top: -1px;
	padding: 10px 20px;
	border: 1px solid #d7d5d5;
}

.address-button.typeBG {
	padding: 10px 20px;
	border: 1px solid #e5e5e5;
	background: #fff;
}

.npay_type_A_2 {
	width: 100% !important;
}

.ec-base-table table {
	position: relative;
	margin: 10px 0 0;
	border: 1px solid #d7d5d5;
	border-top-color: #fff;
	color: #fff;
	line-height: 1.5;
}

.ec-base-table.gLayoutFixed table {
	table-layout: fixed;
}

.ec-base-table.gLayoutFixed .gLayoutAuto table {
	table-layout: auto;
}

.ec-base-table table:before {
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: #d7d5d5;
}

.ec-base-table thead th {
	padding: 11px 0 10px;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	color: #353535;
	vertical-align: middle;
	font-weight: normal;
	background: #fbfafa;
}

.ec-base-table tbody th {
	padding: 11px 0 10px 18px;
	border: 1px solid #dfdfdf;
	border-bottom-width: 0;
	color: #353535;
	text-align: left;
	font-weight: normal;
	background-color: #fbfafa;
	line-height: 34px;
}

.ec-base-table th:first-child {
	border-left: 0;
}

.ec-base-table td {
	padding: 11px 10px 10px;
	border-top: 1px solid #dfdfdf;
	color: #353535;
	vertical-align: middle;
}

.ec-base-table td.clear {
	padding: 0 !important;
	border: 0 !important;
}

.ec-base-table.typeWrite td {
	padding: 8px 10px 7px;
}

.ec-base-table.typeList table {
	border-top-color: #d7d5d5;
}

.ec-base-table.typeList table:before {
	display: none;
}

.ec-base-table.typeList td {
	padding: 8px 10px 7px;
}

.ec-base-table.typeList tfoot td {
	padding: 15px 10px 17px;
	background: #fbfafa;
}

.ec-base-table .message {
	border: 1px solid #d7d5d5;
	padding: 50px 0;
	text-align: center;
	color: #757575;
	font-weight: bold;
}

.ec-base-table table+.message {
	margin: -1px 0 0;
}

.ec-base-table table td.message {
	padding: 50px 0;
}

.ec-base-table .scroll .message {
	border: 0;
}

.ec-base-table.typeList .head td {
	padding: 11px 0 10px;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	color: #353535;
	vertical-align: middle;
	text-align: center;
	background: #fbfafa;
}

.ec-base-table.typeList .head td:first-child {
	border-left: 0;
}

.ec-base-table.typeList .scroll {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 185px;
	min-height: 100px;
	border: 1px solid #d7d5d5;
	border-top-width: 0;
	margin-top: -1px;
}

.ec-base-table.typeList .scroll table {
	border: 0;
	margin: 0;
}

.ec-base-table.typeList .scroll table:before {
	display: none;
}

.ec-base-table.typeList .scroll .message {
	border: 0;
}

.ec-base-table thead.blind, .ec-base-table thead.blind th {
	display: none;
}

.ec-base-table thead.blind+tbody tr:first-child th, .ec-base-table thead.blind+tbody tr:first-child td
	{
	border-top-width: 0;
}

.ec-base-table.typeList.gLine table {
	border-width: 0;
	border-bottom-width: 1px;
}

.ec-base-table.typeClear table:before {
	display: none;
}

.ec-base-table.typeClear table, .ec-base-table.typeClear th,
	.ec-base-table.typeClear td {
	border: 0 none;
	background: none;
}

.ec-base-table.typeClear th {
	font-weight: bold;
}

.ec-base-table.gBorder td {
	border-left: 1px solid #dfdfdf;
}

.ec-base-table.gBorder td:first-child {
	border-left: 0;
}

.ec-base-table .left {
	text-align: left;
}

.ec-base-table .center {
	text-align: center;
}

.ec-base-table .right {
	text-align: right;
}

.ec-base-table.typeList .center td, .ec-base-table.typeList td.center {
	padding-left: 0;
	padding-right: 0;
}

.ec-base-table.typeList .center td.left {
	padding-left: 10px;
}

.ec-base-table.typeList .center td.right {
	padding-right: 10px;
}

.ec-base-table .top th, .ec-base-table th.top, .ec-base-table .top td,
	.ec-base-table td.top {
	vertical-align: top;
}

.ec-base-table .middle th, .ec-base-table th.middle, .ec-base-table .middle td,
	.ec-base-table td.middle {
	vertical-align: middle;
}

.ec-base-table img {
	vertical-align: middle;
}

@media print {
	.ec-base-table table:before {
		display: none;
	}
}

.ec-base-box {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #e8e8e8;
	color: #404040;
}

.ec-base-box.gHalf {
	position: relative;
	padding: 20px 0;
}

.ec-base-box.gHalf:before {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #e6e6e6;
}

.ec-base-box.typeBg {
	background-color: #fbfafa;
}

.ec-base-box.typeThin {
	border-width: 1px;
	border-color: #d7d5d5;
}

.ec-base-box.typeThinBg {
	border-width: 1px;
	border-color: #d7d5d5;
	background-color: #fbfafa;
}

.ec-base-box.typeThinBg>.agree {
	padding: 20px;
	border: 1px solid #e6e6e6;
	background: #fff;
}

.ec-base-box.typeThinBg>.agree p {
	padding: 0 0 17px;
}

.ec-base-box.typeMember {
	padding: 0;
}

.ec-base-box.typeMember .information {
	display: table;
	table-layout: fixed;
	padding: 10px 0;
	width: 100%;
	box-sizing: border-box;
}

.ec-base-box.typeMember .information>.title, .ec-base-box.typeMember .information>.thumbnail
	{
	display: table-cell;
	padding: 0 15px;
	width: 70px;
	text-align: center;
	vertical-align: middle;
}

.ec-base-box.typeMember .information>.title {
	vertical-align: middle;
}

.ec-base-box.typeMember .information>.thumbnail img {
	max-width: 70px;
}

.ec-base-box.typeMember .information .description {
	display: table-cell;
	padding: 0 10px;
	width: auto;
	line-height: 1.5em;
	border-left: 1px solid #e8e8e8;
	vertical-align: middle;
}

.ec-base-box.typeMember.gMessage {
	border-width: 1px;
	border-color: #d7d5d5;
}

.ec-base-box .message {
	display: block;
	padding: 10px 0 10px 35px;
	border-bottom: 1px solid #e8e7e7;
	background: #fbfbfb
		url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif")
		no-repeat 10px center;
}

.ec-base-box.typeProduct {
	display: table;
	table-layout: fixed;
	padding: 15px 0;
	width: 100%;
	box-sizing: border-box;
}

.ec-base-box.typeProduct .thumbnail, .ec-base-box.typeProduct .information
	{
	display: table-cell;
	padding: 0 20px;
	vertical-align: middle;
}

.ec-base-box.typeProduct .thumbnail {
	width: 100px;
}

.ec-base-box.typeProduct .thumbnail img {
	max-width: 90px;
	border: 1px solid #d7d5d5;
}

.ec-base-box.typeProduct .information {
	padding-left: 0;
}

.ec-base-desc {
	overflow: hidden;
	text-align: left;
}

.ec-base-desc:after {
	content: "";
	display: block;
	claer: both;
}

.ec-base-desc dt, .ec-base-desc .term {
	float: left;
	width: 100px;
	margin: 0 0 2px;
	padding: 0 4px 0 0;
	line-height: 22px;
	-webkit-box-sizing: border-box;
	-moz-webkit-box: border-box;
	box-sizing: border-box;
	font-weight: normal;
}

.ec-base-desc dd, .ec-base-desc .desc {
	display: block;
	margin: 0 0 2px;
	padding: 0 5px 0 100px;
	min-height: 22px;
	line-height: 22px;
	word-wrap: break-word;
}

.ec-base-desc dd:after, .ec-base-desc .desc:after {
	content: "";
	display: block;
	clear: left;
}

.ec-base-desc.gSmall dt, .ec-base-desc.gSmall .term {
	width: 30%;
}

.ec-base-desc.gSmall dd, .ec-base-desc.gSmall .desc {
	padding-left: 30%;
}

.ec-base-desc.gMedium dt, .ec-base-desc.gMedium .term {
	width: 40%;
}

.ec-base-desc.gMedium dd, .ec-base-desc.gMedium .desc {
	padding-left: 40%;
}

.ec-base-desc.gLarge dt, .ec-base-desc.gLarge .term {
	width: 50%;
}

.ec-base-desc.gLarge dd, .ec-base-desc.gLarge .desc {
	padding: 0 0 0 50%;
}

.ec-base-desc.centerDT dt, .ec-base-desc.centerDD dd, .ec-base-desc.centerDT .term,
	.ec-base-desc.centerDD .desc, .ec-base-desc.center, .ec-base-desc .center
	{
	text-align: center;
}

.ec-base-desc.rightDT dt, .ec-base-desc.rightDD dd, .ec-base-desc.rightDT .term,
	.ec-base-desc.rightDD .desc, .ec-base-desc.right, .ec-base-desc .right
	{
	text-align: right;
}

.ec-base-desc.rightDD dd, .ec-base-desc.rightDD .desc {
	padding-right: 0;
}

.ec-base-desc.typeBullet dt, .ec-base-desc.typeBullet .term {
	padding: 0 4px 0 10px;
	background:
		url("//img.echosting.cafe24.com/skin/base/common/ico_arrow.png")
		no-repeat 0 7px;
	font-weight: 600;
}

.ec-base-desc.typeDot dt, .ec-base-desc.typeDot .term {
	padding: 0 4px 0 6px;
	background:
		url("//img.echosting.cafe24.com/skin/base/common/ico_square3.gif")
		no-repeat left 10px;
}

.xans-board-title .b_title {
	min-height: 30px;
	margin: 40px 0px 10px 0px;
	text-align: center
}

.xans-board-title .b_title h2 {
	color: #282828;
	font-size: 15px;
	margin: 80px 0px 5px 0px
}

.xans-board-title .b_title p {
	font-size: 13px;
	color: #878787;
	margin-bottom: 50px;
}

.xans-board-title p.imgArea {
	margin: 0 0 20px;
}

.mgy-table table {
	position: relative;
	margin: 10px 0 0;
	border: 1px solid #e5e5e5;
	border-top-color: #fff;
	color: #fff;
	line-height: 1.5;
}

.mgy-table.gLayoutFixed table {
	table-layout: fixed;
}

.mgy-table.gLayoutFixed .gLayoutAuto table {
	table-layout: auto;
}

.mgy-table table:before {
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: #d7d5d5;
}

.mgy-table thead th {
	padding: 4px 3px 5px;
	border-bottom: 1px solid #e5e5e5;
	color: #666;
	vertical-align: middle;
	font-weight: normal;
	height: 32px;
	background: #fbfafa;
}

.mgy-table tbody th {
	padding: 11px 0 10px 18px;
	border: 1px solid #e5e5e5;
	border-bottom-width: 0;
	color: #666;
	text-align: left;
	font-weight: normal;
	background: #fbfafa;
}

.mgy-table th:first-child {
	border-left: 0;
}

.mgy-table td {
	padding: 4px 3px 5px;
	border-top: 1px solid #e5e5e5;
	color: #666;
	vertical-align: middle;
	height: 32px;
}

.mgy-table td.clear {
	padding: 0 !important;
	border: 0 !important;
}

.mgy-table.typeWrite td {
	padding: 8px 10px 7px;
	color: #333;
}

.mgy-table.typeList table {
	border-top-color: #e5e5e5;
}

.mgy-table.typeList table:before {
	display: none;
}

.mgy-table.typeList tfoot td {
	padding: 15px 10px 17px;
	background: #fbfafa;
}

.mgy-table .message {
	border: 1px solid #e5e5e5;
	padding: 50px 0;
	text-align: center;
	color: #666;
}

.mgy-table table+.message {
	margin: -1px 0 0;
}

.mgy-table table td.message {
	padding: 50px 0;
}

.mgy-table .scroll .message {
	border: 0;
}

.mgy-table.typeList .head td {
	padding: 11px 0 10px;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	color: #353535;
	vertical-align: middle;
	text-align: center;
	background: #fbfafa;
}

.mgy-table.typeList .head td:first-child {
	border-left: 0;
}

.mgy-table.typeList .scroll {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 185px;
	min-height: 100px;
	border: 1px solid #d7d5d5;
	border-top-width: 0;
	margin-top: -1px;
}

.mgy-table.typeList .scroll table {
	border: 0;
	margin: 0;
}

.mgy-table.typeList .scroll table:before {
	display: none;
}

.mgy-table.typeList .scroll .message {
	border: 0;
}

.mgy-table thead.blind, .mgy-table thead.blind th {
	display: none;
}

.mgy-table thead.blind+tbody tr:first-child th, .mgy-table thead.blind+tbody tr:first-child td
	{
	border-top-width: 0;
}

.mgy-table.typeList.gLine table {
	border-width: 0;
	border-bottom-width: 1px;
}

.mgy-table.typeClear table:before {
	display: none;
}

.mgy-table.typeClear table, .mgy-table.typeClear th, .mgy-table.typeClear td
	{
	border: 0 none;
	background: none;
}

.mgy-table.typeClear th {
	font-weight: bold;
}

.mgy-table.gBorder td, .mgy-table.gBorder td:first-child {
	border-left: 0;
}

.mgy-table .left {
	text-align: left;
}

.mgy-table .center {
	text-align: center;
}

.mgy-table .right {
	text-align: right;
}

.mgy-table.typeList .center td, .mgy-table.typeList td.center {
	padding-left: 0;
	padding-right: 0;
}

.mgy-table.typeList .center td.left {
	padding-left: 10px;
}

.mgy-table.typeList .center td.left a {
	color: #333 !important;
}

.mgy-table.typeList .center td.left a:hover {
	color: #a6a6a6 !important;
}

.mgy-table.typeList .center td.right {
	padding-right: 10px;
}

.mgy-table .top th, .mgy-table th.top, .mgy-table .top td, .mgy-table td.top
	{
	vertical-align: top;
}

.mgy-table .middle th, .mgy-table th.middle, .mgy-table .middle td,
	.mgy-table td.middle {
	vertical-align: middle;
}

.mgy-table img {
	vertical-align: middle;
}

